.btn {
  cursor: pointer;
  padding: 10px;
  margin: 25px;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color 1s ease-in-out;
  outline: none;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.8;
}
