#text {
  font-size: 1.9rem;
  font-weight: 600;
  width: 100%;
  margin: 20px 0 15px;
  transition: all 1s ease-in-out;
}

#author {
  font-size: 1.2rem;
  margin: 0 25px;
  text-align: right;
  transition: all 1s ease-in-out;
}

.fa {
  margin: 0 10px;
}
